/* @font-face {
  font-family: 'MiSans-Thin';
  src: url('/MiSans-Thin.ttf') format('truetype');
  font-weight: 250;
  font-style: normal;
}

@font-face {
  font-family: 'MiSans-Medium';
  src: url('/MiSans-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
} */



@font-face {
  font-family: 'YouSheBiaoTiHei';
  src: url('/YouSheBiaoTiYuan.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'MiSans';
  src: url('/MiSans-Thin.ttf') format('truetype');
  font-weight: 250;
  font-style: normal;
}

@font-face {
  font-family: 'MiSans';
  src: url('/MiSans-Medium.ttf') format('truetype');
  font-weight: 400, 500;
  font-style: normal;
}

@font-face {
  font-family: 'MiSans';
  src: url('/MiSans-Bold.ttf') format('truetype');
  font-weight: 600, 700;
  font-style: normal;
}

* {
  box-sizing: border-box;
}

:root {

  font-family: 'MiSans', 'Noto Sans SC', 'Alibaba PuHuiTi', -apple-system, BlinkMacSystemFont, 'PingFang SC', 'Microsoft YaHei', sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color: #1a1a1a;
  background-color: #f5f6fa;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}

a {
  text-decoration: none;
}